In [37]:
import petl as etl

In [38]:
#Read the CSV file
data = etl.fromcsv("countries of the world.csv")

In [39]:
#Rename fields
data = etl.rename(data, 
{
    'Pop. Density (per sq. mi.)' : 'Pop Density',
    'Area (sq. mi.)' : 'Area',
    'Coastline (coast/area ratio)' : 'Coastline',
    'Net migration' : 'Net Migration',
    'Infant mortality (per 1000 births)' : 'Infant Mortality',
    'GDP ($ per capita)' : 'GDP',
    'Literacy (%)' : 'Literacy',
    'Phones (per 1000)' : 'Phones',
    'Arable (%)' : 'Arable',
    'Crops (%)' : 'Crops',
    'Other (%)' : 'Other'
})
data

+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
| Country           | Region                                | Population | Area      | Pop Density | Coastline | Net Migration | Infant Mortality | GDP     | Literacy | Phones  | Arable  | Crops  | Other   | Climate | Birthrate | Deathrate | Agriculture | Industry | Service |
+===================+=======================================+============+===========+=============+===========+===============+==================+=========+==========+=========+=========+========+=========+=========+===========+===========+=============+==========+=========+
| 'Afghanistan '    | 'ASIA (EX. NEAR EAST)         '       | '31056997' | '647500'  | '48,0'      | '0,00'    | '23,06'       | '163,07'         | '700'   | '36,0'   | '3,2'   | '12,13' | '0,22' | '87,65' | '1'     | '46,6'    | '20,34'   | '0,38'      | '0,24'   | '0,38'  |
+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
| 'Albania '        | 'EASTERN EUROPE                     ' | '3581655'  | '28748'   | '124,6'     | '1,26'    | '-4,93'       | '21,52'          | '4500'  | '86,5'   | '71,2'  | '21,09' | '4,42' | '74,49' | '3'     | '15,11'   | '5,22'    | '0,232'     | '0,188'  | '0,579' |
+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
| 'Algeria '        | 'NORTHERN AFRICA                    ' | '32930091' | '2381740' | '13,8'      | '0,04'    | '-0,39'       | '31'             | '6000'  | '70,0'   | '78,1'  | '3,22'  | '0,25' | '96,53' | '1'     | '17,14'   | '4,61'    | '0,101'     | '0,6'    | '0,298' |
+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
| 'American Samoa ' | 'OCEANIA                            ' | '57794'    | '199'     | '290,4'     | '58,29'   | '-20,71'      | '9,27'           | '8000'  | '97,0'   | '259,5' | '10'    | '15'   | '75'    | '2'     | '22,46'   | '3,27'    | ''          | ''       | ''      |
+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
| 'Andorra '        | 'WESTERN EUROPE                     ' | '71201'    | '468'     | '152,1'     | '0,00'    | '6,6'         | '4,05'           | '19000' | '100,0'  | '497,2' | '2,22'  | '0'    | '97,78' | '3'     | '8,71'    | '6,25'    | ''          | ''       | ''      |
+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
...

In [40]:
#Convert commas to periods
data = etl.convert(data, 'Pop Density', 'replace', ',', '.')
data = etl.convert(data, 'Coastline', 'replace', ',', '.')
data = etl.convert(data, 'Net Migration', 'replace', ',', '.')
data = etl.convert(data, 'Infant Mortality', 'replace', ',', '.')
data = etl.convert(data, 'Literacy', 'replace', ',', '.')
data = etl.convert(data, 'Phones', 'replace', ',', '.')
data = etl.convert(data, 'Arable', 'replace', ',', '.')
data = etl.convert(data, 'Crops', 'replace', ',', '.')
data = etl.convert(data, 'Other', 'replace', ',', '.')
data = etl.convert(data, 'Climate', 'replace', ',', '.')
data = etl.convert(data, 'Birthrate', 'replace', ',', '.')
data = etl.convert(data, 'Deathrate', 'replace', ',', '.')
data = etl.convert(data, 'Agriculture', 'replace', ',', '.')
data = etl.convert(data, 'Industry', 'replace', ',', '.')
data = etl.convert(data, 'Service', 'replace', ',', '.')
data

+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
| Country           | Region                                | Population | Area      | Pop Density | Coastline | Net Migration | Infant Mortality | GDP     | Literacy | Phones  | Arable  | Crops  | Other   | Climate | Birthrate | Deathrate | Agriculture | Industry | Service |
+===================+=======================================+============+===========+=============+===========+===============+==================+=========+==========+=========+=========+========+=========+=========+===========+===========+=============+==========+=========+
| 'Afghanistan '    | 'ASIA (EX. NEAR EAST)         '       | '31056997' | '647500'  | '48.0'      | '0.00'    | '23.06'       | '163.07'         | '700'   | '36.0'   | '3.2'   | '12.13' | '0.22' | '87.65' | '1'     | '46.6'    | '20.34'   | '0.38'      | '0.24'   | '0.38'  |
+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
| 'Albania '        | 'EASTERN EUROPE                     ' | '3581655'  | '28748'   | '124.6'     | '1.26'    | '-4.93'       | '21.52'          | '4500'  | '86.5'   | '71.2'  | '21.09' | '4.42' | '74.49' | '3'     | '15.11'   | '5.22'    | '0.232'     | '0.188'  | '0.579' |
+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
| 'Algeria '        | 'NORTHERN AFRICA                    ' | '32930091' | '2381740' | '13.8'      | '0.04'    | '-0.39'       | '31'             | '6000'  | '70.0'   | '78.1'  | '3.22'  | '0.25' | '96.53' | '1'     | '17.14'   | '4.61'    | '0.101'     | '0.6'    | '0.298' |
+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
| 'American Samoa ' | 'OCEANIA                            ' | '57794'    | '199'     | '290.4'     | '58.29'   | '-20.71'      | '9.27'           | '8000'  | '97.0'   | '259.5' | '10'    | '15'   | '75'    | '2'     | '22.46'   | '3.27'    | ''          | ''       | ''      |
+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
| 'Andorra '        | 'WESTERN EUROPE                     ' | '71201'    | '468'     | '152.1'     | '0.00'    | '6.6'         | '4.05'           | '19000' | '100.0'  | '497.2' | '2.22'  | '0'    | '97.78' | '3'     | '8.71'    | '6.25'    | ''          | ''       | ''      |
+-------------------+---------------------------------------+------------+-----------+-------------+-----------+---------------+------------------+---------+----------+---------+---------+--------+---------+---------+-----------+-----------+-------------+----------+---------+
...

In [46]:
#Convert data types
data = etl.convert(data, 'Population', int, errorvalue=0)
data = etl.convert(data, 'Area', int, errorvalue=0)
data = etl.convert(data, 'Pop Density', float, errorvalue=0)
data = etl.convert(data, 'Coastline', float, errorvalue=0)
data = etl.convert(data, 'Net Migration', float, errorvalue=0)
data = etl.convert(data, 'Infant Mortality', float, errorvalue=0)
data = etl.convert(data, 'GDP', float, errorvalue=0)
data = etl.convert(data, 'Literacy', float, errorvalue=0)
data = etl.convert(data, 'Phones', float, errorvalue=0)
data = etl.convert(data, 'Arable', float, errorvalue=0)
data = etl.convert(data, 'Crops', float, errorvalue=0)
data = etl.convert(data, 'Other', float, errorvalue=0)
data = etl.convert(data, 'Climate', float, errorvalue=0)
data = etl.convert(data, 'Birthrate', float, errorvalue=0)
data = etl.convert(data, 'Deathrate', float, errorvalue=0)
data = etl.convert(data, 'Agriculture', float, errorvalue=0)
data = etl.convert(data, 'Industry', float, errorvalue=0)
data = etl.convert(data, 'Service', float, errorvalue=0)
data

+-------------------+---------------------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
| Country           | Region                                | Population | Area    | Pop Density | Coastline | Net Migration | Infant Mortality | GDP     | Literacy | Phones | Arable | Crops | Other | Climate | Birthrate | Deathrate | Agriculture | Industry | Service |
+===================+=======================================+============+=========+=============+===========+===============+==================+=========+==========+========+========+=======+=======+=========+===========+===========+=============+==========+=========+
| 'Afghanistan '    | 'ASIA (EX. NEAR EAST)         '       |   31056997 |  647500 |        48.0 |       0.0 |         23.06 |           163.07 |   700.0 |     36.0 |    3.2 |  12.13 |  0.22 | 87.65 |     1.0 |      46.6 |     20.34 |        0.38 |     0.24 |    0.38 |
+-------------------+---------------------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
| 'Albania '        | 'EASTERN EUROPE                     ' |    3581655 |   28748 |       124.6 |      1.26 |         -4.93 |            21.52 |  4500.0 |     86.5 |   71.2 |  21.09 |  4.42 | 74.49 |     3.0 |     15.11 |      5.22 |       0.232 |    0.188 |   0.579 |
+-------------------+---------------------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
| 'Algeria '        | 'NORTHERN AFRICA                    ' |   32930091 | 2381740 |        13.8 |      0.04 |         -0.39 |             31.0 |  6000.0 |     70.0 |   78.1 |   3.22 |  0.25 | 96.53 |     1.0 |     17.14 |      4.61 |       0.101 |      0.6 |   0.298 |
+-------------------+---------------------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
| 'American Samoa ' | 'OCEANIA                            ' |      57794 |     199 |       290.4 |     58.29 |        -20.71 |             9.27 |  8000.0 |     97.0 |  259.5 |   10.0 |  15.0 |  75.0 |     2.0 |     22.46 |      3.27 |         0.0 |      0.0 |     0.0 |
+-------------------+---------------------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
| 'Andorra '        | 'WESTERN EUROPE                     ' |      71201 |     468 |       152.1 |       0.0 |           6.6 |             4.05 | 19000.0 |    100.0 |  497.2 |   2.22 |   0.0 | 97.78 |     3.0 |      8.71 |      6.25 |         0.0 |      0.0 |     0.0 |
+-------------------+---------------------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
...

In [56]:
#Remove leading and trailing spaces in remaing strings
data = etl.convert(data, 'Country', lambda x : x.strip())
data = etl.convert(data, 'Region', lambda x : x.strip())
data

+------------------+------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
| Country          | Region                 | Population | Area    | Pop Density | Coastline | Net Migration | Infant Mortality | GDP     | Literacy | Phones | Arable | Crops | Other | Climate | Birthrate | Deathrate | Agriculture | Industry | Service |
+==================+========================+============+=========+=============+===========+===============+==================+=========+==========+========+========+=======+=======+=========+===========+===========+=============+==========+=========+
| 'Afghanistan'    | 'ASIA (EX. NEAR EAST)' |   31056997 |  647500 |        48.0 |       0.0 |         23.06 |           163.07 |   700.0 |     36.0 |    3.2 |  12.13 |  0.22 | 87.65 |     1.0 |      46.6 |     20.34 |        0.38 |     0.24 |    0.38 |
+------------------+------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
| 'Albania'        | 'EASTERN EUROPE'       |    3581655 |   28748 |       124.6 |      1.26 |         -4.93 |            21.52 |  4500.0 |     86.5 |   71.2 |  21.09 |  4.42 | 74.49 |     3.0 |     15.11 |      5.22 |       0.232 |    0.188 |   0.579 |
+------------------+------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
| 'Algeria'        | 'NORTHERN AFRICA'      |   32930091 | 2381740 |        13.8 |      0.04 |         -0.39 |             31.0 |  6000.0 |     70.0 |   78.1 |   3.22 |  0.25 | 96.53 |     1.0 |     17.14 |      4.61 |       0.101 |      0.6 |   0.298 |
+------------------+------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
| 'American Samoa' | 'OCEANIA'              |      57794 |     199 |       290.4 |     58.29 |        -20.71 |             9.27 |  8000.0 |     97.0 |  259.5 |   10.0 |  15.0 |  75.0 |     2.0 |     22.46 |      3.27 |         0.0 |      0.0 |     0.0 |
+------------------+------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
| 'Andorra'        | 'WESTERN EUROPE'       |      71201 |     468 |       152.1 |       0.0 |           6.6 |             4.05 | 19000.0 |    100.0 |  497.2 |   2.22 |   0.0 | 97.78 |     3.0 |      8.71 |      6.25 |         0.0 |      0.0 |     0.0 |
+------------------+------------------------+------------+---------+-------------+-----------+---------------+------------------+---------+----------+--------+--------+-------+-------+---------+-----------+-----------+-------------+----------+---------+
...

In [57]:
etl.tocsv(data, "Cleaned Data.csv")